language: php

php:
  - 5.6
  - 7.0

sudo: false

os:
  - osx

matrix:
  allow_failures:
    - os: osx
    
services:
  - mysql

notifications:
  email: false
  
install:
  - composer self-update
  - travis_retry composer install --no-interaction --prefer-source

before_install:
  - mysql -e 'CREATE DATABASE laravel_admin_test;'

before_script: git reset --hard HEAD

script: vendor/bin/phpunit
