language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

sudo: false

notifications:
  email: false
  
before_script:
  - travis_retry composer self-update
  - travis_retry composer install --dev --no-interaction
