.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
html {
  height: 100%;
  min-height: 100%;
}
body {
  font-family: "HelveticaNeue", Arial, sans-serif;
  height: 100%;
  min-height: 100%;
}
.button {
  font-size: 16px;
  color: #fff;
  font-family: "HelveticaNeue-Medium";
  margin-right: 8px;
  margin-left: 8px;
}
.large-button {
  width: 148px;
  height: 40px;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 36px;
}
.full-button {
  background: #007a4d;
  border: 1px solid #007a4d;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}
.full-button:hover {
  background: #FCB517;
  border: 1px solid #FCB517;
}
