@import "reset.less";
@import "global.less";

body{
	background: #f2f2f4;
}

.logo-login{
	width: 100%;
	text-align: center;
	padding-top: 36px;
	box-sizing: border-box;

	img{
		width: 100%;
		max-width: 280px;
	}
}//end logo

.login-form{
	width:100%;
	max-width: 300px;
	margin: auto;
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-100%);
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;

	@media @768{
		margin-top: 140px;
		transform: none;
		top: 0;
	}

	form{
		margin-bottom: 14px;

		input{
			position: relative;
			width: 100%;
			height: 46px;
			line-height: 46px;
			padding-left: 42px;
			margin-bottom: 10px;
			font-size: 14px;
			font-family: 'HelveticaNeue', sans-serif;
			color: @global-dark-grey;
			background-color: rgba(254,254,254, 0.6);
			border: solid 1px #b7bbc0;
			.border-radius();
			box-sizing: border-box;

		}//end input

		input[type="email"]{
			background-image: url('../../images/icon-at.png');
			background-position: 10px center;
			background-repeat: no-repeat;
		}

		input[type="password"]{
			background-image: url('../../images/icon-lock.png');
			background-position: 10px center;
			background-repeat: no-repeat;
		}


		::-webkit-input-placeholder {
		   color: @global-dark-grey;
		}

		:-moz-placeholder { /* Firefox 18- */
		   color: @global-dark-grey;  
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   color: @global-dark-grey;  
		}

		:-ms-input-placeholder {  
		   color: @global-dark-grey;  
		}

		button{
			margin-top:5px;
		}
	}//end form 

	a{
		font-size: 12px;
		font-family: 'Helvetica-Bold', sans-serif;
		line-height: 18px;
		color: @global-dark-grey;
	}
}// end login form

.signup-link{
	position: absolute;
	width:100%;
	bottom: 35px;
	text-align: center;
	font-family: 'HelveticaNeue', sans-serif;

	a{
		font-size: 16px;
		color: @global-dark-grey;
		line-height: 24px;
	}

}//end signup link


.signup-form{
	width:100%;
	max-width: 340px;
	margin:auto;
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-bottom: 50px;
	padding-right: 20px;
	padding-left: 20px;
	box-sizing: border-box;

	@media @768{
		top: 0px;
		transform: none;
		margin-top: 140px;
	}

	form{

		label{
			text-transform: uppercase;
			width: 100%;
			display: block;
			text-align: left;
			font-size: 12px;
			font-family: 'HelveticaNeue-Medium', sans-serif;
			color:#171717;
			margin-bottom:2px;
		}//end label

		input{
			width:100%;
			height: 46px;
			line-height: 46px;
			margin-bottom: 13px;
			border: 1px solid #e6e6e9;
			.border-radius(2px);
			padding-left: 14px;
			box-sizing: border-box;
			font-size: 14px;
			font-family: 'HelveticaNeue-Light', sans-serif;
			color: @global-dark-grey;
		}//end input

		::-webkit-input-placeholder {
		   color: @global-dark-grey;
		}

		:-moz-placeholder { /* Firefox 18- */
		   color: @global-dark-grey;  
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   color: @global-dark-grey;  
		}

		:-ms-input-placeholder {  
		   color: @global-dark-grey;  
		}

		button{
			margin: 0 auto;
			margin-top: 13px;
			margin-bottom: 44px;
		}//end button
	}//end form

	.terms-conditions{
		font-size: 12px;
		line-height: 18px;
		color: @global-dark-grey;
		font-family: 'HelveticaNeue-Bold', sans-serif;

		a{
			color: @global-green;
		}
	}
}//end signup form



























